<a href="https://colab.research.google.com/github/Yurih1/DataScience/blob/master/atividade_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.1

1

Alternativa: C

2.1

2

2.2

1

In [ ]:
num1 = int (input("Digite o primeiro numero: "))
num2 = int (input("Digite o segundo numero: "))

print(num1)
print(num2)

Digite o primeiro numero: 2
Digite o segundo numero: 10
2 10

2

In [ ]:
a = int (input("Digite um numero: "))

if(a < 0):
  print(abs(a)) #ou print(a * -1)

else:
  print(a)

Digite um numero: 20
20

3

In [ ]:
n1 = float (input("numero 1: "))
n2 = float (input("numero 2: "))
n3 = float (input("numero 3: "))

media = ((n1 + n2 + n3) / 3)

print("MÉDIA = %0.1f" %media)

numero 1: 5
numero 2: 5
numero 3: 5
MÉDIA = 5.0

4

In [ ]:
po1 = int (input("Digite o numero 1: "))
po2 = int (input("Digite o numero 2: "))
po3 = int (input("Digite o numero 3: "))
po4 = int (input("Digite o numero 4: "))
po5 = int (input("Digite o numero 5: "))

print("POTÊNCIA DE 2 DO NUMERO 1: ",pow(po1, 2),"POTÊNCIA DE 3: ",pow(po1, 3))
print("POTÊNCIA DE 2 DO NUMERO 2: ",pow(po2, 2),"POTÊNCIA DE 3: ",pow(po2, 3))
print("POTÊNCIA DE 2 DO NUMERO 3: ",pow(po3, 2),"POTÊNCIA DE 3: ",pow(po3, 3))
print("POTÊNCIA DE 2 DO NUMERO 4: ",pow(po4, 2),"POTÊNCIA DE 3: ",pow(po4, 3))
print("POTÊNCIA DE 2 DO NUMERO 5: ",pow(po5, 2),"POTÊNCIA DE 3: ",pow(po5, 3))

Digite o numero 1: 1
Digite o numero 2: 2
Digite o numero 3: 3
Digite o numero 4: 4
Digite o numero 5: 5
POTÊNCIA DE 2 DO NUMERO 1:  1 POTÊNCIA DE 3:  1
POTÊNCIA DE 2 DO NUMERO 2:  4 POTÊNCIA DE 3:  8
POTÊNCIA DE 2 DO NUMERO 3:  9 POTÊNCIA DE 3:  27
POTÊNCIA DE 2 DO NUMERO 4:  16 POTÊNCIA DE 3:  64
POTÊNCIA DE 2 DO NUMERO 5:  25 POTÊNCIA DE 3:  125

6

In [ ]:
A = int (input("NUMERO 1: "))
B = int (input("NUMERO 2: "))
C = int (input("NUMERO 3: "))

if (A>B and A>C):
  print(A)
elif (B>A and B>C):
  print(B)
else:
  print(C)

NUMERO 1: 8
NUMERO 2: 9
NUMERO 3: 3
9

7

In [ ]:
lis = []
qtd = 3
for i in range(qtd):
    ab = int(input('Digite um numero: '))
    lis.append(ab)

lis.sort(reverse = True) 
print(lis)

Digite um numero: 8
Digite um numero: 3
Digite um numero: 10
[10, 8, 3]

8

In [ ]:
pri = int(input("Digite um numero: "))
seg = int(input("Digite um numero: "))
ter = int(input("Digite um numero: "))

maior = pri
menor = pri

if maior < seg:
  maior = seg

if maior < ter:
  maior = ter

if menor > seg:
  menor = seg

if menor > ter:
  menor = ter

print(maior)
print(menor)

Digite um numero: 8
Digite um numero: 2
Digite um numero: 1
8
1

9

In [ ]:
prod1 = float(input("Digite o 1º produto: "))
prod2 = float(input("Digite o 2º produto: "))
prod3 = float(input("Digite o 3º produto: "))

if (prod1 < prod2 and prod1 < prod3):
  print("R$ %.2f"%prod1)
elif (prod2 < prod1 and prod2 < prod3):
  print("R$ %.2f"%prod2)
else:
  print("R$ %.2f"%prod3)

Digite o 1º produto: 7.50
Digite o 2º produto: 5.60
Digite o 3º produto: 10.98
R$ 5.60

10

In [ ]:
flo = 5.0
int1 = 30
int2 = 800
str1 = "70"
flo2 = 70.5

print(type (flo))
print(type (int1))
print(type (int2))
print(type (str1))
print(type (flo2))

<class 'float'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>

In [15]:
azeitona = float(input('Quantidade de azeitona: ')) #coleta quant de itens 
acucar = float(input('Quantidade de açucar: '))
farinha = float(input('Quantidade de farinha: '))
fermento = float(input('Quantidade de fermento: '))
vinagre = float(input('Quantidade de vinagre: '))

if (azeitona > 0 ):
  azeitona = 9.45 * azeitona
  print('Total em azeitona: R$ %.2f'%azeitona)

if (acucar > 0 and acucar <= 10):
  acucar = (2.12 * acucar)
  print('Total em açucar: R$ %.2f'%acucar)
  if (acucar > 10):
    acucar = (2.12 * acucar) / 1.3
    print('Total em açucar: R$ %.2f'%acucar)

if (farinha > 0 ):
  farinha = 4.67 * farinha
  print('Total em farinha: R$ %.2f'%farinha)

if (fermento > 0):
  fermento = 1.88 * fermento
  print('Total em fermento: R$ %.2f'%fermento)

if (vinagre > 0 and vinagre < 2):
  vinagre = (5.56 * vinagre)
  print('Total em vinagre: R$ %.2f'%vinagre)
  if (vinagre >= 2):
    vinagre = ((5.56 * vinagre) / 0.10)
    print('Total em vinagre: R$ %.2f'%vinagre)

total = (azeitona + acucar + farinha + fermento + vinagre)
print('Total Geral: R$ %.2f'%total)

Quantidade de azeitona: 3
Quantidade de açucar: 10
Quantidade de farinha: 2
Quantidade de fermento: 4
Quantidade de vinagre: 2
Total em azeitona R$ 28.35
Total em açucar R$ 21.20
Total em açucar R$ 34.57
Total em farinha R$ 9.34
Total em fermento R$ 7.52
Total Geral: R$ 81.78