<a href="https://colab.research.google.com/github/Yurih1/citacoes/blob/master/aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Desvios condicionais 

a = 10
b = 20

if(a < b):
  print(a < b)
print('Depois do IF')

True
Depois do IF

In [ ]:
if (a > b):
  print(a > b)
else:
  print(a < b)

True

In [ ]:
a = 10
b = 20
c = 30

if (a > b):
  print(a > b)
else:
  print(a < b)
  
  if (a > c):
    print(a > c)
  else:
    print(a < c)

True
True

In [ ]:
#else if (elif)
idade = 18

if (idade < 12):
    print("Criança")

elif (idade < 18):
    print("Adolescente")

elif (idade < 60):
    print("Adulto")

else:
    print("Experiente")

Adulto

In [ ]:
# if inline/ operador ternário 
# expressao_verdade if condicao else expressao_false

print( (True if(10 > 2) else False) )
print( ("É maior" if(10 > 2) else "É menor") )

True
É maior

In [ ]:
a = ("Dois é menor que três" if (2 < 3) else False)
print(a)

print(( a if (10 < 2) else False))

Dois é menor que três
False

In [ ]:
r = ( (True if (2 < 3) else False) if (10 > 2) else False)

if (r):
  print(r)

True

In [ ]:
id = 18

("C" if (id < 12) else ("AD" if (id < 18) else ("A" if (id < 60 ) else "E" ) ) )

'A'

In [ ]:
# laços FOR WHILE

#exemplo do uso do FOR

for i in range(11, 0, -1):
  print(i)

11
10
9
8
7
6
5
4
3
2
1

In [ ]:
for u in range(0, 102, 2):
  print(u)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
nome = "Yuri Silva Oliveira Santos"
for letra in nome.split(' '): #split procura um valor dentro da sequencia
  print(letra)

Yuri
Silva
Oliveira
Santos

In [ ]:
var = "Yuri Silva Oliveira Santos".split(' ')
var[2]

'Oliveira'

In [ ]:
#while 
contador = 1
while contador < 11:
  print(contador)

  #incrementar o contador para satisfazer a condição, else 'loop infinito'.
  contador += 2
print("FIM")

1
3
5
7
9
FIM

In [ ]:
tabu = int(input("DIGITE UM NUMERO: "))
for i in range(1, 11):
  print(tabu ,"X", i ,"= ", tabu * i)

DIGITE UM NUMERO: 30
30 X 1 =  30
30 X 2 =  60
30 X 3 =  90
30 X 4 =  120
30 X 5 =  150
30 X 6 =  180
30 X 7 =  210
30 X 8 =  240
30 X 9 =  270
30 X 10 =  300

In [ ]:
tabu = int(input("DIGITE UM NUMERO: "))
for i in range(1, 11, 2):
  print(tabu ,"X", i ,"= ", tabu * i)

DIGITE UM NUMERO: 80
80 X 1 =  80
80 X 3 =  240
80 X 5 =  400
80 X 7 =  560
80 X 9 =  720