<a href="https://colab.research.google.com/github/Yurih1/citacoes/blob/master/aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 10
y = 7.3

# descobrindo o tipo da variável
print(type (x))

<class 'int'>

In [ ]:
# formatação personalizada 

z = 154.1793817391311
print("o valor da variavel 'z' é: %.02f" %z)

o valor da variavel 'z' é: 154.18

In [ ]:
#textos e numeros

nome = "Yuri Silva"
idade = 26
complemento = "anos"

formato = "{0} {1} {2}"

print(formato.format(nome, idade, complemento))

Yuri Silva 26 anos

In [ ]:
print(nome + " " + str(idade)) # str() converte valores numericos para texto

Yuri Silva 26

In [ ]:
a = 8
b = 8
print("Soma entre", a, "e", b, "=", (a + b))
print("Subtração entre", a, "e", b, "=", (a - b))
print("multiplicação entre", a, "e", b, "=", (a * b))
print("Divisão inteira entre", a, "e", b, "=", (a // b)) # divisão inteira "//"
print("Resto da divisão entre", a, "e", b, "=", (a % b))
print("Potência entre ", a, "e", b, "=", (a ** b)) # potência "**"

Soma entre 8 e 8 = 16
Subtração entre 8 e 8 = 0
multiplicação entre 8 e 8 = 64
Divisão inteira entre 8 e 8 = 1
Resto da divisão entre 8 e 8 = 0
Potência entre  8 e 8 = 16777216

In [ ]:
# opradores Lógicos (AND, OR ou NOT)
a = 1 
b = 5
c = 2
d = 6

print((a > 1) and (c < 3)) #F e V

print((b < d) or (a > 1)) #V ou F

print(not ((c > d) and (d == b))) #F e F

False
True
True

In [ ]:
#Conversões de tipos

print( int("10"))
print( float("10"))
print(str(10) +" Café")
print(abs(-154.587))

10
10.0
10 Café
154.587

In [ ]:
#Entrada de Dados 

entrada = input("Digite seu nome: ")
print("Olá", entrada)

Digite seu nome: yuri
Olá yuri

In [ ]:
a = int(input("Digite o primeiro número: "))
b = int(input("Digite o segundo número: "))
print ("X = ", a + b,"\n")

Digite o primeiro número: 5
Digite o segundo número: 10
X =  15

In [ ]:
a = float(input("Digite o valor A: "))
b = float(input("Digite o valor B: "))
c = float(input("Digite o valor C: "))

resultado = ((b*b)- 4*a*(c))
print("o valor é : ", resultado)

Digite o valor A: 2
Digite o valor B: 8
Digite o valor C: -24
o valor é :  256.0